body {
    background-color: black;
    background-image:url('./resources/background-dark.avif');
    background-position:center top; 
    background-repeat: no-repeat; 
    background-size:cover;
    color:azure;
    box-sizing: border-box;
    opacity: 1.0;
    
}


header h1 {
    font-size: 40px;
    text-align:center;
    padding: 1% 1%;
}

section h2 {
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    padding: 1% 0 2% 0 ;
    background-image: url('./resources/background-dark.avif')

}

section.color li{
    font-weight:bolder ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid azure;
    border-radius: 2%;
    margin: 1%;
    padding: 5%;
    text-align: center;
    font-size: larger;
}

.blue {
    background-color: #002EFF;

}

.green {
    background-color:#00FF50;
    
}

.yellow {
    background-color:#FFD000;
    
}

.black {
    background-color:#000000;
    
}

.red {
    background-color:#F90505;
   
}

.pink {
    background-color:#FF238D;

   }

.orange {
    background-color: #FF9B38;

}

.brown {
    background-color: #9E4F00;

}

.white {
    background-color: #FFFFFF;
    color: #000000;

}

.purple {
    background-color: #BB00CC;

}

section.fonts div,section.styles div {
    text-align: left;
    width: 100%;
    color: #FFFFFF;
    padding-left: 2%;
    padding-bottom: 0%;
    padding-top: 0%;
    font-weight:400;
}


section.fonts div h3 {
    font-size: 25px;
    font-weight: 400;
    text-align: left;
    line-height: 4;
    text-decoration: underline;
    color: #FFFFFF;
}

.robov {    
    font-family: 'Roboto Slab', serif;

}

.georgia {
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.mono {
    font-family: 'Courier New', Courier, monospace;

}

.bold {
    font-size: 20px;
    font-weight:bold;

}

.regular {
    font-size: 20px;

}

.italic {
    font-size: 20px;
    font-style: italic;

}

section.styles div {
    display: block;
    width: 100%;
    
}

section.styles div.st-robo p{

    font-size: 40px;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    color:#F90505;

}

div.st-georgia p{
    font-size: 30px;
    font-family: Georgia,'Times New Roman', Times, serif;
    font-weight: 400;
    color: #002EFF;

}

div.st-mono p {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    color: #00FF50;

}

footer {
    margin-top: 5%;
    padding-top: 2%;
    color: azure;
    border-top: 2px solid azure;
    width: 100%;
    height: 10%;
    text-align: center;
}

.end {
    text-align: end;
    
}
